/* src/components/Navbar/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
/*     background-color: #40798C;
 */ color: #E9F1F7;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 32px;
  }
  
  .navbar-links {
/*     background-color: #2274A5; */ 
    list-style-type: none;
    display: flex;
  }
  
  .navbar-links li {
    margin-right: 16px;
  }
  
  .navbar-links a {
    color: #CFE0C3;
    text-decoration: none;
  }
  
  .navbar-links a:hover {
    color: #70A9A1;
  }
  
  .navbar-brand {
    color: #CFE0C3;
  }